<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60478017512-dosnp8lrf2aihm7m3t401kgmb95v7fet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60478017512-dosnp8lrf2aihm7m3t401kgmb95v7fet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>60478017512-es56q692o9flh41mqkn32bbf0n0droi9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0CRCfmru95DTk5xv8AaAQbd9etHJ7Rjo</string>
	<key>GCM_SENDER_ID</key>
	<string>60478017512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.tandau.app</string>
	<key>PROJECT_ID</key>
	<string>tandau-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tandau-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60478017512:ios:3fa7f2afca1681c8731e5d</string>
	<key>DATABASE_URL</key>
	<string>https://tandau-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>