PORT=3000
FIREBASE_PROJECT_ID=tandau-app
FIREBASE_CLIENT_EMAIL=your-client-email@tandau-app.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

GEMINI_API_KEY=YOUR_API_KEY_HERE
